**/bin
**/obj
**/.vs
**/.idea
**/Logs
**/logs
**/.git
**/.gitignore
**/Dockerfile*
**/.dockerignore
**/appsettings.Local.json
**/appsettings.*.Local.json
**/secrets.json
**/*.user
**/*.suo
**/.DS_Store
**/Thumbs.db
README.md
